{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
{% if form and current_user.id==1%}
{{ wtf.quick_form(form) }}
<br>
{% endif %}

{% for post in posts %}
<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('studyroom.seatS', roomname=post.roomname) }}">
                {{ post.roomname }}

            </a>
            {% if current_user.id==1%}
            <a href="{{ url_for('studyroom.addseat', roomname=post.roomname) }}">添加座位

            </a>
            {% endif %}
        </td>
    </tr>
</table>
{% endfor %}

<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>

        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>

{% endblock %}