{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
{% if form %}
{{ wtf.quick_form(form) }}
<br>
{% endif %}

{% for post in posts %}
<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('studyroom.upstate', id=post.id) }}">{{ post.seatid }}</a>


            {% if post.state==0 %}
            <p>可选</p>
            {% elif post.state==1 %}
            <p>已被占</p>
            {% elif post.state==2 %}
            <p>有人</p>
            {% elif post.state==3 %}
            <p>暂离</p>
            {% else %}
            <p>维修</p>
            {% endif %}
        </td>
    </tr>
</table>

            {% if current_user.id==1%}
                <a href="{{ url_for('studyroom.delseat', id=post.id) }}">
                                <h5>{{ _('del') }}</h5>
                </a>
            {% endif %}
            {% endfor %}
        </td>
    </tr>
</table>

{% endblock %}