{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
{% if form and current_user.id==1%}
{{ wtf.quick_form(form) }}
<br>
{% endif %}

    <form  method="post" action="{{ url_for('book.Searchbooks') }}" name="search">
        <div class="form-group mx-sm-3 mb-2">
            <input name="post" class="form-control"  value="" type="text">
        </div>
        <button type="submit" class="btn btn-primary mb-2" value="">{{ _('search') }}</button>
    </form>

{% for post in posts %}
<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('book.books', bookname=post.bookname,bookimage=post.bookimage) }}">
                <img src="{{post.bookimage}}" height="100" width="100"/>
               {{ post.bookname }}
            </a>
            <br>
            {% if form and current_user.id==1%}
            <a href="{{ url_for('book.delbook',id=post.id) }}">
                <h5>{{ _('del') }}</h5>
            </a>
            {% endif %}
            <a href="{{ url_for('book.outbook',id=post.id) }}">
            <h5>{{ _('borrowing') }}</h5>
        </a>
        </td>
    </tr>
</table>
{% endfor %}
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>

        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>


{% endblock %}