{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
{% if current_user.id==1%}
{% for post in posts %}
<table class="table table-hover">
    <tr>
        <td width="70px">
            borrowinger:
            {{ post.user_id }}
                <br>
            book:
            {{ post.book_id }}
            <a href="{{ url_for('book.inbook',id=post.id) }}">
                <h5>{{ _('del') }}</h5>
            </a>
        </td>
    </tr>
</table>
{% endfor %}
<br>
{% endif %}















{% endblock %}